@model StudyMSL_W.Models.learn

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>learn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.image_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image_name_malay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_name_malay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image_dir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_dir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image_desc_malay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_desc_malay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.image_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
