@model IEnumerable<StudyMSL_W.Models.learn>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.image_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image_name_malay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image_dir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image_desc_malay)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.image_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image_name_malay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image_dir)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image_desc_malay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.image_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.image_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.image_id })
        </td>
    </tr>
}

</table>
