@model StudyMSL_W.Models.progress

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>progress</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.content_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.content_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.content_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_completed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.p_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
